@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
body{
  background-color: black;
  font-family: 'Inter', sans-serif;
}
th,td,table{
  border-bottom: 1px solid #f1ebebd7;
  border-collapse: collapse;
  padding: 1rem;
  color: #f1ebebd7;
  font-size: 1rem;
}
th{
   text-align: start;
}
table{
  width: 100%;
}
